#  BASIC DATA TYPES

## BASICS

### P1.PY

In [4]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

starting_string = 'hello'
print(starting_string)

hello



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

fav_num = 7
# fav_num is your favorite number
print(fav_num)

# Create another variable that represents your favorite color, and do the same steps as above.

fav_color = "blue"
# fav_color is your favorite color
print(fav_color)

7
blue



### P3.PY

In [5]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

fav_song = """
That how it starts
We go back to your house
You check the charts
And start to figure it out"""    #LCD Soundsystem, All my Friends

print(fav_song)

That how it starts
We go back to your house
You check the charts
And start to figure it out



## TYPECASTING

### P1.PY

In [2]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22


f_five = float(five) #converting the variable to float, reassigning to f_
f_zero = float(zero)
f_neg_8 = float(neg_8)
f_neg_22 = float(neg_22)

print(f_five,f_zero,f_neg_8,neg_22) #prints converted variables, floats

print(type(f_five), type(f_zero), type(f_neg_8), type(f_neg_22)) #prints data type of converted variables f_

i_five = int(f_five)  #converting the variables back to integer, reassigning to i_
i_zero = int(f_zero)
i_neg_8 = int(f_neg_8)
i_neg_22 = int(f_neg_22)

print(i_five, i_zero, i_neg_8, i_neg_22)

print(type(i_five), type(i_zero), type(i_neg_8), type(i_neg_22)) #prints data type of converted variables i_

5.0 0.0 -8.0 -22
<class 'float'> <class 'float'> <class 'float'> <class 'float'>
5 0 -8 -22
<class 'int'> <class 'int'> <class 'int'> <class 'int'>



### P2.PY

In [6]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False



str_five = str(five)
str_zero = str(zero)
str_neg_8 = str(neg_8)
str_T = str(T)
str_F = str(F)

# Converting variables to strings

print(str_five, str_zero, str_neg_8, str_T, str_F)
print(type(str_five), type(str_zero), type(str_neg_8), type(str_F), type(str_T))

# Printing new vairables and data types

org_five = int(five)
org_zero = int(zero)
org_neg_8 = int(neg_8)
org_T = bool(T)
org_F = bool(F)

# Converting strings back to original data types

print(org_five, org_zero, org_neg_8, T, F)
print(type(org_five), type(org_zero), type(org_neg_8), type(org_F), type(org_T))

# Printing new variables and data types

5 0 -8 True False
<class 'str'> <class 'str'> <class 'str'> <class 'str'> <class 'str'>
5 0 -8 True False
<class 'int'> <class 'int'> <class 'int'> <class 'bool'> <class 'bool'>



### P3.PY

In [7]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0

a_one = bool(one)
a_zero = bool(zero)

print (a_one,a_zero)
print (type(a_one), type(a_zero))


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

b_one = float(a_one)
b_zero = float(a_zero)

print(b_one, b_zero)
print(type(b_one), type(b_zero))


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

c_one = bool(b_one)
c_zero = bool(b_zero)

print(b_one,b_zero)
print(type(c_one), type(c_zero))


# D) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

d_one = int(c_one)
d_zero = int(c_zero)

print(d_one, d_zero)
print(type(d_one), type(d_zero))


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

str_ten = str(ten)
print(str_ten, type(str_ten))

True False
<class 'bool'> <class 'bool'>
1.0 0.0
<class 'float'> <class 'float'>
1.0 0.0
<class 'bool'> <class 'bool'>
1 0
<class 'int'> <class 'int'>
10 <class 'str'>



### P4.PY

In [8]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False


one = bool(one)
zero = bool(zero)
bool_true = int(bool_true)
bool_false = int(bool_false)


print(one,zero, bool_true, bool_false)
print(type(one), type(zero), type(bool_true), type(bool_false))


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)

print(one, zero)
print(type(one), type(zero))

      
# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.


bool_true = bool(bool_true)
bool_false = bool(bool_false)

print(bool_true, bool_false)
print(type(bool_true), type(bool_false))

True False 1 0
<class 'bool'> <class 'bool'> <class 'int'> <class 'int'>
1 0
<class 'int'> <class 'int'>
True False
<class 'bool'> <class 'bool'>



## OPERATORS

### P1.PY

In [9]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

num1 = orig_var + 50

# Subtract 90

num2 = num1 - 90

# Multiply 10

num3 = num2 * 10

# Divide 150

num4 = num3 / 150

# Modulus 3

num5 = num4 % 3
print(num5) #1.0


# or using assignment operators

orig_var = 100

orig_var += 50 #150

orig_var -= 90 #60

orig_var *= 10 #600

orig_var /= 150 # 4.0

orig_var %= 3 # 1.0

print(orig_var)

1.0
1.0



### P2.PY

In [10]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 


var1 = 'I am going to the movies and '
var2 = 'I am going to get some popcorn.'

tonight = var1 + var2
print(tonight)

I am going to the movies and I am going to get some popcorn.



### P3.PY

In [11]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

ab = a + b
print(ab) #2


# B)
c = '0'
d = '2'

cd = c + d
print(cd) #02


# C)
e = "0"
f = 2

ef = e + f
print (ef) #error, cannot add dfferent data types with an operator

2
02

TypeError: ignored



### P4.PY

In [12]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

ab = a + b
print(ab) #2

# B)
c = False
d = False


cd = c + d
print(cd) #0


# C)
e = True
f = False

ef = e + f
print (ef) #1

2
0
1