#  BASIC DATA TYPES

## BASICS

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

starting_string = 'hello'

print(starting_string)

hello



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.



# Create another variable that represents your favorite color, and do the same steps as above.

fav_num = 7
# fav_num is your favorite number
print(fav_num)

fav_color = "blue"
# fav_color is your favorite color
print(fav_color)

7
blue



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.


fav_song = """
That how it starts
We go back to your house
You check the charts
And start to figure it out"""    #LCD Soundsystem, All my Friends

print(fav_song)

That how it starts
We go back to your house
You check the charts
And start to figure it out



## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22


float_five = float(five) #converts the variable to float, redefines
print(float_five) #prints converted variable 
print(type(float_five)) #prints converted variable data type

float_five = int(float_five) #converts data type back to integer
print(float_five) 
print(type(float_five)) # prints data type


zero = float(zero)
print(zero)
print(type(zero))
zero = int(zero)
print(zero)
print(type(zero))

neg_8 = float(neg_8)
print(neg_8)
print(type(neg_8))
neg_8 = int(neg_8)
print(neg_8)
print(type(neg_8))

neg_22 = float(neg_22)
print(neg_22)
print(type(neg_22))
neg_22 = int(neg_22)
print(neg_22)
print(type(neg_22))

5.0
<class 'float'>
5
<class 'int'>
0.0
<class 'float'>
0
<class 'int'>
-8.0
<class 'float'>
-8
<class 'int'>
-22.0
<class 'float'>
-22
<class 'int'>



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False


five=str(five)
print(five)
print(type(five))


five = int(five) 
print(five) 
print(type(five)) 




zero = str(zero) #converts to string
print(zero) #prints variable
print(type(zero)) #prints variable data type

zero = int(zero)
print(zero)
print(type(zero))


neg_8 = str(neg_8)
print(neg_8)
print(type(neg_8))


neg_8 = int(neg_8)
print(neg_8)
print(type(neg_8))

5
<class 'str'>
5
<class 'int'>
0
<class 'str'>
0
<class 'int'>
-8
<class 'str'>
-8
<class 'int'>



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0


one = bool(one) #converts the variable
print(one)
print(type(one))

zero = bool(zero)
print(zero)
print(type(zero))



# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.
one = float(one)
print(one)
print(type(one))

zero = float(zero)
print(zero)
print(type(zero))


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


one = bool(one)
print(one)
print(type(one))


zero=bool(zero)
print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

one=int(one)
print(one)
print(type(one))

zero=int(zero)
print(zero)
print(type(zero))


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result. 

ten = 10

ten=bool(ten)
print(ten)
print(type(ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result. 

one = 1
zero = 0
bool_true = True
bool_false = False

a_one = bool(one)
a_zero = bool(zero)
bool_true = True
bool_false = False



print(a_one)
print(type(a_one))


print(a_zero)
print(type(a_zero))



print(bool_true)
print(type(bool_true))


print(bool_false)
print(type(bool_false))



# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>



## OPERATORS

### P1.PY

In [0]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

origin_var += 50
print(origin_var)

#150
# Subtract 90
origin_var -= 90 #60

# Multiply 10

origin_var *= 10 #600

# Divide 150

origin_var /150 #4

# Modulus 3
origin_var %= 3

print (origin_var)

NameError: ignored



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling." 



one = "I am going to have a sandwich"
two = " and I am going to have a bowl of soup"

compound = one + two

print(compound)

I am going to have a sandwich and I am going to have a bowl of soup



### P3.PY

In [0]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2





# B)
c = '0'
d = '2'



# C)
e = "0"
f = 2



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True



# B)
c = False
d = False



# C)
e = True
f = False